* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --orange: orange;
    --green: #00aa16;
}

.App {
    display: flex;
    height: 100vh;
}


/* Sidebar */

#sidebar {
    flex-basis: 250px;
    border-right: 1px solid #ebebeb;
}

#sidebar .category {
    --pad: 60px;

    width: 100%;
    padding: 10px var(--pad);
    margin: 20px 0;

    text-transform: capitalize;
    background-repeat: no-repeat;
    background-position: calc(var(--pad) / 2.2) center;
    background-size: 20px;

    font-size: .9em;
    cursor: pointer;
} 

#sidebar .category:hover {
    border-right: 3px solid #000;
    background-color: #f0f0f0;
    font-weight: 600;
}


/* Product Listing */

#product-list {
    flex-grow: 1;
    padding: 40px;

    --gap: 25px;
    display: grid;
    grid-template-columns: repeat(
        auto-fill, minmax(230px, 1fr)
    );
    /*grid-row-gap: calc(var(--gap) / 2);*/
    grid-column-gap: var(--gap);

    background-color: #f0f0f0;

    overflow-y: auto;
}

#product-list .product {
    position: relative;
    height: 365px;
    padding: 20px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 6px;
    background-color: #fff;

    transition-property: transform, box-shadow;
    transition: all ease .3s;
}

#product-list .product:hover .item-image {
    transform: scale(1.1);
}

#product-list .product:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px #d2d2d2;
}

#product-list .product .discount-percent {
    position: absolute;
    top: 15px;
    right: 20px;

    padding: 3px 9px;
    border-radius: 20px;

    font-size: .75em;
    font-weight: 600;
    
    background-color: var(--orange);
    color: #fff;

    z-index: 1;
}

#product-list .product .item-image {
    height: 200px;
    width: auto;

    margin: 25px 0 5px 0;

    object-fit: contain;
    object-position: center center;

    transition: transform ease .3s;
}

#product-list .product .item-name {
    margin: 10px 0 0 0;
    
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

#product-list .product .item-quantity {
    color: grey;
    font-size: .82em;
    margin-bottom: 20px;
}

#product-list .product .item-checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: var(--green);
    
    font-size: .9rem;
    font-weight: 700;
}

#product-list .product .item-checkout .amount {
    position: relative;
}

#product-list .product .item-checkout .amount::before {
    content: attr(price-before);
    
    position: absolute;
    top: -13px;
    left: 0px;
    
    color: var(--orange);
    
    font-size: .8em;
    font-style: italic;
    text-decoration: line-through;
}

#product-list .product .item-checkout .add-to-cart {
    padding-left: 25px;

    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0px center;

}


/* Media Queries */

@media screen and (max-width: 425px) {

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;

        height: 50px;
        width: 100%;

        display: inline-flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        
        overflow: auto hidden;
        
        border: none;
        border-bottom: 1px solid #ebebeb;
        
        background-color: #fff;

        z-index: 3;
    }

    #sidebar .category {
        flex-basis: 90px;
        
        padding: 40px 9px 0 9px;
        margin: 0px;
        
        color: transparent;
        
        background-position: center 15px;
        
        line-height: 15px;
        text-align: center;

    }

    #sidebar:hover {
        height: 85px;
        box-shadow: 0px 1px 6px #d2d2d2;
    }

    #sidebar:hover .category {
        color: unset;
    }

    #sidebar .category:hover {
        flex-grow: 1.1;
        border: none;
        border-bottom: 3px solid #000;
    }

    #product-list {
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {

    #sidebar {
        height: 100vh;
        width: 75px;
        
        position: fixed;
        top: 0;
        left: 0;

        background-color: #fff;
        
        z-index: 3;
        overflow-x: hidden;
        
        transition: width ease .3s;
    }

    #sidebar:hover {
        width: 220px;
        box-shadow: 0px 0px 6px #d2d2d2;
    }

    #sidebar:hover .category {
        color: unset;
    }

    #sidebar .category {
        color: transparent;
        transition: color ease .3s;
        white-space: nowrap;
    }

    #product-list {
        padding-left: 130px;
    }
}
